@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at 50% 50%, #aee4e2, #00689a);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Common Styles */
.left-section, .right-section, .device-card, .group-card, .popup {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

button {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
}

/* Main Container */
.main-container {
  display: flex;
  gap: 24px;
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Left Section */
.left-section {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 90%;
}


.connect-screen-box {
  text-align: center;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.sidebar-btn:hover {
  background: #5e0018;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.sidebar-btn:active {
  transform: translateY(1px);
}


.connect-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 20px;
}



/* Right Section */
.right-section {
  flex-grow: 1;
  padding: 24px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  height: 90%;

  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Internet Explorer and Edge */
  -ms-overflow-style: none;
}


.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f5f5dc;
}



.device-item, .device-card, .group-card {
  padding: 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.device-item p {
  margin-left: 30px;
  padding: 0 10px;
  font-size: 1.1rem;
  text-align: left;
  color: white;
}

.device-item h4 {
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  font-weight: normal;
  color: white;
}


/* Button Style */
.device-item button, .manage-btn, .manage-group-btn {
  justify-self: flex-end;
  background: #f5f5dc;
  color: #800020;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  width: fit-content;
  border-radius: 20px;
}

.device-item button:hover, .manage-btn:hover, .manage-group-btn:hover {
  background: #d9cfc4;
}

/* Popup */
.popup {
  /* Existing styles */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 93%;
  max-width: 720px;
  padding: 24px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow-y: scroll; /* Enables vertical scrolling */
  /* backdrop-filter: blur(10px); */
  background: radial-gradient(circle at 50% 50%, #6bb1c6, #388db1);
  z-index: 1000;

  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Internet Explorer and Edge */
  -ms-overflow-style: none;
}


.popup h3 {
  font-size: 1.3rem;
  color: #f5f5dc;
  margin-bottom: 15px;
}

.popup-content label {
  font-size: 0.85rem;
  color: #f5f5dc;
}

.popup-content input,
.popup-content select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  color: #f5f5dc;
}

/* Buttons in Popup */
.modal-btn{
  background: #CF3434FF;
  color: #f5f5dc;
  border: none;
  padding: 12px 24px;
  font-size: 0.9rem;
  border-radius: 30px;
}

.modal-btn:hover{
  background: #5e0018;
}

/* Media List */
.media-list {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 10px;
  justify-content: center;
}

.media-list .media-item {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  transition: transform 0.3s, box-shadow 0.3s;

}

/* Media Image */
.media-list .media-item img,
.media-list .media-item video {
  width: 100%;
  height: 100%;
  object-fit: fill ;
  border-radius: 5px;
}
/* Media Thumbnail Styling */
.media-list .media-item img,
.media-list .media-item video  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* Prevents clicking on the video */
  display: block;
}

/* Video Thumbnail Styling */
video.media-list .media-item img,
.media-list .media-item video  {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  background-color: #000;
}

/* Hide video controls */
video.media-list .media-item img,
.media-list .media-item video ::-webkit-media-controls,
video.media-list .media-item img,
.media-list .media-item video ::-webkit-media-controls-enclosure,
video.media-list .media-item img,
.media-list .media-item video ::-webkit-media-controls-panel {
  display: none !important;
}

/* Radio Button Instead of Select */
.media-list .media-item input[type="radio"] {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

/* Adjusting Button Alignment */
.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.modal-buttons button {
  flex: 1;
  margin: 5px;
}

/* Device Settings Container */
.device-settings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 15px;
}

/* Labels */
.device-settings label {
  font-size: 0.85rem;
  color: #f5f5dc;
  display: block;
  margin-bottom: 5px;
}

/* Inputs & Selects */
.device-settings select,
.device-settings input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  /* color: #f5f5dc; */
}


.cut-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #EC2027; /* Red color */
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
}

.cut-button:hover {
  background-color: #B40000; /* Darker red on hover */
  transform: scale(1.1);
}

.cut-button:active {
  transform: scale(0.95);
}

.close-modal {
  color: white;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  /* margin-top: 25px; */
}

.close-modal:hover {
  color: #d9cfc4;
}
.media-item.selected {
  /* filter: brightness(0.7); */
  border: 3px solid #CF3434FF;

}

.select-media-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.media-type-dropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.url-input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.grid-create-button {
  margin: 15px 0;
  text-align: center;
}

#media-type-select[value="grid"] ~ #media-list .media-item.selected .thumbnail {
  border: 3px solid #007bff;
 
}


